<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method="post">
        <h2>Search by:</h2>
        <p><span th:each="column : ${columns}">
                <input type="radio" name="searchType"  th:id="${column.key}"
                        th:value="${column.key}" th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label> <!-- searchType  -->
        </span></p>
        <p>
            <label for="searchTerm">Keyword:</label> <!--searchTerm = Search field -->
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>
        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <table class="job-listing" th:each="job_listingV : ${jobs}">
        <tr th:each="listing_fieldV : ${job_listingV}">
            <td th:text="${listing_fieldV.key}"></td>
            <td th:text="${listing_fieldV.value}"></td>
        </tr>

    </table>

</div>

</body>
</html>